.customers {
    padding: 94px 0;
    &__title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
      color: getcolor('title-text');
      margin-bottom: 50px;
    }
  }

  .customers-list {
    @include flex();
    width: 1170px;
    margin: 0 auto;
    &__item {
      @include flex(center);
      width: 170px;
      height: 92px;
      border: 1px solid getcolor('svg-text');
      border-radius: 4px;
      transition: transform 500ms ease;
      &:hover {
        border: 1px solid getcolor('hover-text');;
        transform: scale(1.1);
      }
      &:hover .customers-list__icons {
        fill: getcolor('hover-text');
      }
    }
    
    &__icons {
      fill: getcolor('svg-text');
    }
    
  }

  